.homepage{
    width: 100%;
}
.firstbox{
    background-color: white;
    width: 350px;
    height: 110px;
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: space-between;
    border-radius: 10px;
    /* border-radius: 20px 20px 0px 0px; */
}
.firstbox h1{
    font-size: xxx-large;
}
.firstbox h2{
    color:#1A344B;
    /* width: 50px; */
    /* height: 100px; */
    font-weight: 500;
    font-size: inherit;
}
.allbox{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.underbox{
    line-height: 14px;
    width: 110px;

    margin: -9px;
}
.middalcontent{
    background: #F7F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 470px;
    padding-left: 20px;
    padding-bottom: 50px;
}
.middalcontent1{
    display: flex;
    justify-content: space-between;
    width: 460.5px;
    background-color: white;
}
.Images{
    display: flex;
    justify-content: space-evenly;
    width: 150px;
}
.middalcontent1 p{
    display: flex;
}
.buttons{
    display: flex;
    padding-top: 10px;
}
.mainmiddle{
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}
.middalbox2{
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
}
.middal5{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 20px;
    line-height: -0px;
}
.middalbox3{
    background-color: white;
    width: 460.5px;
}
/* .middlacontebt6{

} */
.middal10{
    display: flex;
    width: 460px;
    background-color: white;
    justify-content: flex-start;
}
.con_header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}